src/main/mule/cc-ci-cd-pipeline-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="cc-ci-cd-pipeline-demo-api-flow" doc:id="168a03f2-eb7c-4729-9b9a-50a559411fdc" >
		<http:listener doc:name="Listener" doc:id="ccb10d64-9af7-46da-b9a7-5eee5377230f" config-ref="http-listener-config" path="/api"/>
		<logger level="INFO" doc:name="Start Log" doc:id="9b3a9452-5a3a-4649-952f-82d72a5bd221" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    appName: app.name,&#10;    flowName : flow.name,&#10;    position: "Flow Start",&#10;    correlationId: correlationId,&#10;    timestamp: now() &gt;&gt; "UTC"&#10;}]' />
		<set-payload doc:name="Response Message" doc:id="2a338a2c-5c15-478e-82d7-8a81810cf8ee" mimeType="text/html" value="&lt;!DOCTYPE html&gt;&#10;&lt;html lang=&quot;en&quot;&gt;&#10;&lt;head&gt;&#10;    &lt;meta charset=&quot;UTF-B&quot;&gt;&#10;    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;&#10;    &lt;title&gt;API Deployment Status&lt;/title&gt;&#10;    &lt;script src=&quot;https://cdn.tailwindcss.com&quot;&gt;&lt;/script&gt;&#10;    &lt;link rel=&quot;preconnect&quot; href=&quot;https://fonts.googleapis.com&quot;&gt;&#10;    &lt;link rel=&quot;preconnect&quot; href=&quot;https://fonts.gstatic.com&quot; crossorigin&gt;&#10;    &lt;link href=&quot;https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap&quot; rel=&quot;stylesheet&quot;&gt;&#10;    &lt;style&gt;&#10;        body {&#10;            font-family: 'Inter', sans-serif;&#10;        }&#10;    &lt;/style&gt;&#10;&lt;/head&gt;&#10;&lt;body class=&quot;bg-gradient-to-br from-blue-100 via-purple-100 to-pink-100 min-h-screen flex items-center justify-center p-6&quot;&gt;&#10;&#10;    &lt;div class=&quot;bg-white w-full max-w-2xl p-8 md:p-12 rounded-2xl shadow-xl transform transition-all hover:scale-[1.01]&quot;&gt;&#10;        &#10;        &lt;div class=&quot;flex justify-between items-center mb-6&quot;&gt;&#10;            &lt;h1 class=&quot;text-3xl font-bold text-gray-800&quot;&gt;&#10;                Deployment Successful&#10;            &lt;/h1&gt;&#10;            &lt;div class=&quot;w-12 h-12 bg-green-500 rounded-full flex items-center justify-center shadow-lg&quot;&gt;&#10;                &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; class=&quot;h-6 w-6 text-white&quot; fill=&quot;none&quot; viewBox=&quot;0 0 24 24&quot; stroke=&quot;currentColor&quot; stroke-width=&quot;3&quot;&gt;&#10;                    &lt;path stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot; d=&quot;M5 13l4 4L19 7&quot; /&gt;&#10;                &lt;/svg&gt;&#10;            &lt;/div&gt;&#10;        &lt;/div&gt;&#10;&#10;        &lt;div class=&quot;text-lg text-gray-700 leading-relaxed space-y-4&quot;&gt;&#10;            &lt;p class=&quot;text-2xl&quot;&gt;&#10;                Hi,&#10;            &lt;/p&gt;&#10;            &lt;p&gt;&#10;                I am &lt;span class=&quot;font-bold text-purple-700&quot;&gt;Samridh Kant Srivastava&lt;/span&gt;, working as a &lt;span class=&quot;font-medium text-gray-900&quot;&gt;Technical Associate&lt;/span&gt; at &lt;span class=&quot;font-medium text-blue-700&quot;&gt;Caelius Consulting&lt;/span&gt;.&#10;            &lt;/p&gt;&#10;            &lt;p&gt;&#10;                This Mule application was deployed using a CI/CD pipeline created with GitHub Actions.&#10;            &lt;/p&gt;&#10;        &lt;/div&gt;&#10;&#10;        &lt;div class=&quot;border-t border-gray-200 mt-8 pt-6&quot;&gt;&#10;            &lt;h2 class=&quot;text-xl font-semibold text-gray-800 mb-4&quot;&gt;Deployment Details&lt;/h2&gt;&#10;            &lt;div class=&quot;overflow-x-auto&quot;&gt;&#10;                &lt;table class=&quot;min-w-full divide-y divide-gray-200 rounded-lg border border-gray-200&quot;&gt;&#10;                    &lt;thead class=&quot;bg-gray-50&quot;&gt;&#10;                        &lt;tr&gt;&#10;                            &lt;th scope=&quot;col&quot; class=&quot;px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider&quot;&gt;&#10;                                Property&#10;                            &lt;/th&gt;&#10;                            &lt;th scope=&quot;col&quot; class=&quot;px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider&quot;&gt;&#10;                                Value&#10;                            &lt;/th&gt;&#10;                        &lt;/tr&gt;&#10;                    &lt;/thead&gt;&#10;                    &lt;tbody class=&quot;bg-white divide-y divide-gray-200&quot;&gt;&#10;                        &lt;tr&gt;&#10;                            &lt;td class=&quot;px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900&quot;&gt;&#10;                                Deployed By&#10;                            &lt;/td&gt;&#10;                            &lt;td class=&quot;px-6 py-4 whitespace-nowrap text-sm text-gray-600&quot;&gt;&#10;                                Samridh Kant Srivastava&#10;                            &lt;/td&gt;&#10;                        &lt;/tr&gt;&#10;                        &lt;tr&gt;&#10;                            &lt;td class=&quot;px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900&quot;&gt;&#10;                                Method&#10;                            &lt;/td&gt;&#10;                            &lt;td class=&quot;px-6 py-4 whitespace-nowrap text-sm text-gray-600&quot;&gt;&#10;                                CI/CD (GitHub Actions)&#10;                            &lt;/td&gt;&#10;                        &lt;/tr&gt;&#10;                        &lt;tr&gt;&#10;                            &lt;td class=&quot;px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900&quot;&gt;&#10;                                Status&#10;                            &lt;/td&gt;&#10;                            &lt;td class=&quot;px-6 py-4 whitespace-nowrap text-sm text-green-600 font-semibold&quot;&gt;&#10;                                Success&#10;                            &lt;/td&gt;&#10;                        &lt;/tr&gt;&#10;                    &lt;/tbody&gt;&#10;                &lt;/table&gt;&#10;            &lt;/div&gt;&#10;        &lt;/div&gt;&#10;&#10;    &lt;/div&gt;&#10;&#10;&lt;/body&gt;&#10;&lt;/html&gt;"/>
		<logger level="INFO" doc:name="End Log" doc:id="07c6661a-dfc0-4bf7-ad6e-d7fecbc94261" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;    appName: app.name,&#10;    flowName : flow.name,&#10;    position: "Flow End",&#10;    correlationId: correlationId,&#10;    timestamp: now() &gt;&gt; "UTC"&#10;}]' />
		<error-handler ref="common-exception-handler" />
	</flow>
</mule>
